<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home page</title>
    <%- include('../parts/head.ejs')%>
    
    <link href="/admin/css/admin.css" rel="stylesheet">

    
</head>

<body>

    <div id="dashboard">
        
    </div>



    <script src="/bundle.js" ></script>

</body>

</html>