<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home page</title>
    <%- include('./parts/head.ejs')%>
    
</head>

<body>
    <!-- start menu -->
    <%- include('./parts/header.ejs')%>
    <!-- end menu -->
    
    <!-- start carousel -->
    <%- include('./parts/carousel.ejs')%>
    <!-- end-carousel -->

    <!-- body of page -->
    <div class="container" >
        
    </div>

    <!-- end body of page -->

    <!-- footer of page -->
    <%- include('./parts/footer.ejs')%>
    <!-- end footer of page -->

</body>

</html>