*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list-group.member-list {
    height:  700px;
    overflow-y:  auto;
}

.online {
    background: #28a745;
    color: white;
}

.small-title {
    background: green;
    padding:  5px;
    color: white;
}

svg.svg-inline--fa.fa-comments.fa-w-18 {
    color:  white;
    font-size:  47px;
    /* text-align:  center; */
    margin-left: 20px;
    /* margin-right:  auto; */
}

.chat-right-content-message {
    width: 350px;
    height: 500px;
    background: #F6F6F6;
}

.chat-left-user {
    height:  500px;
    width: 150px;
    background: #4fce6c;
    overflow-y: auto;
}

.chat-box-content {
    transition:  all 0.4s;
    width:  500px;
    height:  500px;
    background: #f6f6f6;
    box-shadow: 5px 10px 18px #88888863;
}

.chat-button-togle {
    height: 50px;
    width:  100px;
    background:  green;
    position:  absolute;
    bottom: 0px;
    right:  20px;
    cursor:  pointer;
}

.btn-date{
    margin: 1px;
}

.right-content {
    padding-bottom: 15px;
}

.right-content button.btn.btn-success {
    margin: 1px;
}

select {
    width: 150px;
    height:  30px;
    border:  none;
}

.card.bg-success.text-white {
    /* margin:  15px; */
    margin-top:  15px;
    margin-bottom:  15px;
}

.card-body {
}

.left-menu {
    /* padding:  0px; */
    background: #f7f7f7;
    padding-left:  0px;
}

.hover:hover {
    background: #f7f7f7;
    /* color: white; */
    cursor: pointer;
}

.booking-description{
    padding: 15px;
}

.strong {
    color:  green;
    font-weight:  bold;
}

.top-booking {
    background: white;
    margin:  15px;
}

.booking-slider {
    HEIGHT: 300px;
}

.booking-slider img {
    height: 300px;
}

a:hover {
    text-decoration:  none;
}

nav.navbar {
    background: white;
}

a.nav-link {
    color: black;
    /* transition: 0.2s all; */
}

a.nav-link:hover {
    background: green;
    color: white;
    /* transition:  0.2s all; */
}

.booking-option button {
    width: 100%;
}

.booking-option {
    border-right: solid 1px gray;
}

.booking-option select {
    width: 100%;
    height: 34px;
    border:  none;
}

img.img-responsive.field{
    height: 500px;
}

.aside-button {
    background:  green;
    color: white;
    height: 100px;
    width: 53px;
    text-align:  center;
    padding: 6px;
    font-weight:  bold;
    position:  fixed;
    top: 300px;
}

.aside-button:hover {
    cursor:  pointer;
    background: #035003;
}

article {
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    padding: 20px;
    margin-top: 40px;
    /* margin-bottom:  20px; */
    background:  white;
}

article:hover {
    /* background:  black; */
    box-shadow: black;
    /* box-shadow: inset 7px 7px 4px 1px; */
    -moz-box-shadow: 30px 30px 10px 30px;
    box-shadow: 0px 0px 11px 0px;
    /* -webkit-box-shadow: 30px 30px 10px 30px; */
}

body{
    background: #f7f7f7;
    
}


section{
    /* margin-top: 15px; */
    margin: 15px;
    background:white;
    padding: 20px;
    /* margin-left:10%; */
    /* margin-right: 10%; */
    position: relative;
}

.recomandation-news h1{
    text-align: center;
}

img{
    display: block;
    margin: 0 auto;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    margin:  10px;
    /* margin:  10px; */
}

.hot-item img {
    width: 100%;
}

h1{
    color: green;
}

.buffer .display-1.text-center {
    margin-left:  auto;
    margin-right:  auto;
}




*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dashboard-bar {
    background: #337ab7;
    height:  3px;
}

.nav-dashboard-title-wrap {
    height:  50px;
    line-height:  50px;
    padding-left:  50px;
    background: #337AB7;
    width:  100%;
    color:  white;
    font-size:  20px;
    font-weight:  500;
}

.article a {
    color:  black;
}

.buffer button {
    margin-left:  auto;
    margin-right:  auto;
    margin-bottom: 100px;
}

.buffer .alert.alert-success {
    margin-left: auto;
    margin-right:  auto;
    margin-top: 100px;
}

span#top-user-chat {
    /* background:  black; */
    margin-left: 80px;
}

.chat-right-content {
    padding:  10px;
    padding-left:  20px;
    position:  absolute;
    top: 30px;
    width: 360px;
}

.chat-right-content {overflow-y: auto;height: 400px;/* width: 371px; */}

.row {}

.chat-left-user ul li {
    background:  none;
    color: white;
}

.chat-left-user ul li:hover {
    cursor:  pointer;
    background: green;
}

div#togle-close-chat-box {
    float:  right;
    margin-right: 15px;
    font-size: 40px;
    line-height: 12px;
    cursor:  pointer;
}

.chat-right-content-top {
    position:  absolute;
    height: 30px;
    /* background: #4fce6c; */
    border: #4fce6c solid;
    top:  0px;
    right:  0px;
    width: 370px;
}

.form-submit-chat input[type="submit"] {
    width:  100%;
    color: white;
    background:  green;
    border:  none;
    height:  30px;
}

.form-submit-chat input[type="text"] {
    width:  100%;
}

.form-submit-chat {
    height: 60px;
    width: 366px;
    /* background:  gray; */
    position:  absolute;
    bottom:  0px;
    right:  0px;
    border-left:  none;
}

.chat-box {
    position:  fixed;
    right: 80px;
    bottom:  0px;
    
    /* background:  white; */
    z-index:  99;
}

.btn-date{
    margin: 1px;
}

.right-content {
    padding-bottom: 15px;
}

.right-content button.btn.btn-success {
    margin: 1px;
}

select {
    width: 150px;
    height:  30px;
    border:  none;
}

.card.bg-success.text-white {
    /* margin:  15px; */
    margin-top:  15px;
    margin-bottom:  15px;
}

.card-body {
}

.left-menu {
    /* padding:  0px; */
    background: #f7f7f7;
    padding-left:  0px;
}

.hover:hover {
    background: #f7f7f7;
    /* color: white; */
    cursor: pointer;
}

.booking-description{
    padding: 15px;
}

.strong {
    color:  green;
    font-weight:  bold;
}

.top-booking {
    background: white;
    margin:  15px;
}

.booking-slider {
    HEIGHT: 300px;
}

.booking-slider img {
    height: 300px;
}

a:hover {
    text-decoration:  none;
}

nav.navbar {
    background: white;
}

a.nav-link {
    color: black;
    /* transition: 0.2s all; */
}

a.nav-link:hover {
    background: green;
    color: white;
    /* transition:  0.2s all; */
}

.booking-option button {
    width: 100%;
}

.booking-option {
    border-right: solid 1px gray;
}

.booking-option select {
    width: 100%;
    height: 34px;
    border:  none;
}

img.img-responsive.field{
    height: 500px;
}

.aside-button {
    background:  green;
    color: white;
    height: 100px;
    width: 53px;
    text-align:  center;
    padding: 6px;
    font-weight:  bold;
    position:  fixed;
    top: 300px;
}

.aside-button:hover {
    cursor:  pointer;
    background: #035003;
}

article {
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    padding: 20px;
    margin-top: 40px;
    /* margin-bottom:  20px; */
    background:  white;
}

article:hover {
    /* background:  black; */
    box-shadow: black;
    /* box-shadow: inset 7px 7px 4px 1px; */
    -moz-box-shadow: 30px 30px 10px 30px;
    box-shadow: 0px 0px 11px 0px;
    /* -webkit-box-shadow: 30px 30px 10px 30px; */
}

body{
    background: #f7f7f7;
    
}


section{
    /* margin-top: 15px; */
    margin: 10px;
    background:white;
    padding: 20px;
    /* margin-left:10%; */
    /* margin-right: 10%; */
    position: relative;
}

.recomandation-news h1{
    text-align: center;
}

img{
    display: block;
    margin: 20px auto;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
}

h1{
    color: green;
}







.chat-content {
    background:  white;
}

.chat-button {
    height:  45px;
    width:  100px;
    color: white;
    font-size: 22px;
    line-height:  45px;
    padding-left: 15px;
    border-top-left-radius: -14px;
    cursor:  pointer;
    background:  green;
    float:  right;
}

.div-chat {
    /* height: 45px; */
    /* background:  green; */
    /* color: white; */
    /* width: 100px; */
    position:  fixed;
    right: 15px;
    bottom:  0px;
    z-index: 99;
}

.message{
    color: red;
}

.err{
    color: red;
}

button.btn.btn-primary.dropdown-toggle {
    background: #f8f8f8;
    color:  black;
    border: none;
}

.dropdown {
    line-height: 47px;
}

.popover-content {
    color:  black;
}

.popover-title {
    color:  black;
}

li.username {
    cursor:  pointer;
}

.btn-login {
    width:  100%;
    background: green;
    color: white;
    border:  none;
}

.content-login h2 {
    color: green;
}

.body-login {
    /* background: hsl(0, 0%, 50%); */
    /* padding: 0%; */
    padding-bottom:  100px;
    padding-top: 100px;
    background-image: url("../images/main_banner1.jpg");
}

fieldset.content-login {
    /* margin: auto; */
    /* height: 51%; */
    margin-left: auto;
    margin-right:  auto;
    width: 400px;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    background: white;
    padding: 2%;
    /* align-items:  center; */
}


ul.nav.navbar-nav li a {
    color: black;
    font-size: 18px;
}

ul.nav.navbar-nav li a:hover {
    background: black;
    color:white;
    border-bottom: solid 1px green;
    transition: all 0.3s;
    

}


.nav.navbar-nav ul li {}

.bottom-footer {
    background: #283139;
    color: #97A5B3;
    padding: 1px;
    margin: 0px;
}

.top-footer {
    padding: 40px;
    background: #2F3942;
    color: white;
}


.brand-ranking {
    background: green;
    padding: 5px;
    color: white;
}

.brand-news {
    background: green;
    padding: 5px;
    color: white;
}

.view-all-news {
    margin-top: 27px;
    /* background: green; */
    /* width: 20%; */
    /* color: white; */
}

.category-item {
    margin-top: 20px;
}

view-all-news {
    margin-top: 10px;
}

.logo {
    background: green;
    margin: 0px;
    color: white;
    padding: 26px;
    font-size: 36px;
}

nav.navbar.navbar-default {
    color: #ffffff45;
    border: none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}


header {
    background: black;
    color: white;
    padding: 16px;
}

header ul {
    list-style: none;
    display: inline;

}

header ul li {
    display: inline;
    margin: 10px;
}
.menu{
    padding: 0px;
}

h1 h2{
    color: green;
}

.hide{
    display: none;
    transition: all 0.3s;
    right: -300px;
}

.message{
    color: red;
}

.err{
    color: red;
}

button.btn.btn-primary.dropdown-toggle {
    background: #f8f8f8;
    color:  black;
    border: none;
}

.dropdown {
    line-height: 47px;
}

.popover-content {
    color:  black;
}

.popover-title {
    color:  black;
}

li.username {
    cursor:  pointer;
}

.btn-login {
    width:  100%;
    background: green;
    color: white;
    border:  none;
}

.content-login h2 {
    color: green;
}

.body-login {
    /* background: hsl(0, 0%, 50%); */
    /* padding: 0%; */
    padding-bottom:  100px;
    padding-top: 100px;
    background-image: url("../images/main_banner1.jpg");
}

fieldset.content-login {
    /* margin: auto; */
    /* height: 51%; */
    margin-left: auto;
    margin-right:  auto;
    width: 400px;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    background: white;
    padding: 2%;
    /* align-items:  center; */
}


ul.nav.navbar-nav li a {
    color: black;
    font-size: 18px;
}

ul.nav.navbar-nav li a:hover {
    background: black;
    color:white;
    border-bottom: solid 1px green;
    transition: all 0.3s;
    

}


.nav.navbar-nav ul li {}

.bottom-footer {
    background: #283139;
    color: #97A5B3;
    padding: 1px;
    margin: 0px;
}

.top-footer {
    padding: 40px;
    background: #2F3942;
    color: white;
}


.brand-ranking {
    background: green;
    padding: 5px;
    color: white;
}

.brand-news {
    background: green;
    padding: 5px;
    color: white;
}

.view-all-news {
    margin-top: 27px;
    /* background: green; */
    /* width: 20%; */
    /* color: white; */
}

.category-item {
    margin-top: 20px;
}

view-all-news {
    margin-top: 10px;
}

.logo {
    background: green;
    margin: 0px;
    color: white;
    padding: 26px;
    font-size: 36px;
}

nav.navbar.navbar-default {
    color: #ffffff45;
    border: none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}


header {
    background: black;
    color: white;
    padding: 16px;
}

header ul {
    list-style: none;
    display: inline;

}

header ul li {
    display: inline;
    margin: 10px;
}
.menu{
    padding: 0px;
}

h1 h2{
    color: green;
}

.hide{
    display: none;
    transition: all 0.3s;
}

/* Chat containers */
.container-chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container-chat::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container-chat img {
    float: left;
    max-width: 30px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container-chat img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

section.news {
    position: relative;
}
.fixed-nav {
    top: 20px;
    position: fixed;
}

.img-news-small{
    width: 100%;
}

.news-menu{
    position: fixed;
    top: 0px;
}

.btn-booking{
    margin-top: 15px;
}

.btn-selected{
    border: solid 1px red;
    background: red;
}

.btn-selected:hover{
    /* background: #d9534f; */
    border: solid 1px #d9534f;
    background: #d9534f;
}

.good{
    color: #28a745;
}

.dashboard-content {
    background: white;
}

.dashboard-footer {
    background: #97A5B3;
}

.dashboard-hover:hover {
    background: #337AB7;
}

.nav-item{
    width: 100%;
}