<div class="row item">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
        <p class="news-time">1/12/2017</p>
    </div>
</div>