<footer>
    <div class="container-fluid">
        <div class="top-footer">
            <div class="row">

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 logo">
                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                    Sport Ranking
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <h3>CONTACT INFO</h3>
                    <p>10221 Magnolia Grove Dr, Manassas, VA, 20110</p>
                    <p>Office :- +1-512-555-0190 Office :- +1-512-555-0190</p>
                    <p>help@yourmail.com</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <h3>CONTACT INFO</h3>
                    <p>10221 Magnolia Grove Dr, Manassas, VA, 20110</p>
                    <p>Office :- +1-512-555-0190 Office :- +1-512-555-0190</p>
                    <p>help@yourmail.com</p>
                </div>
            </div>
        </div>

        <div class="bottom-footer text-center">
            <h4>Copyright © 2017, Sport G+. All Rights Reserved.</h4>
        </div>
    </div>
</footer>